body {
    font-family: sans-serif;
    background-color: rgb(47, 58, 94);
    text-align: center;
}

header {
    text-align: center;
    font-size: small;
    color: white;
}

p {
    font-size: medium;
    color: white;
}

.imgMorn, .imgDay, .imgEven, .imgNight {
    display: none;
}

#btnChoice {
    display: none;
}

button {
    cursor: pointer;
    margin: 20px;
    font-size: medium;
}

img {
    width: 100%;
    position: absolute;
    z-index: -1;
    display: block;
    top: 0;
    left: 0;
}

button:active {
    background-color: grey;
}